/* BASICS */
* {
cursor: default;
margin: 0;
padding: 0;
font-weight: normal;
-moz-user-select: none;
-webkit-user-select: none;
}
*::selection {
background: transparent;
color: transparent;
}
html {
font-size: 62.5%;
}
body {
background: #333;
font-size: 1.6rem;
}
h1 {
position: absolute;
top: 0.3rem;
left: 0.3rem;
font-size: 2.4rem;
line-height: 2.4rem;
}
h2 {
position: absolute;
top: 3rem;
left: 0.3rem;
font-size: 1.2rem;
line-height: 1.2rem;
}
a {
text-decoration: none;
}
ul {
list-style: none;
}
abbr[title="and"] {
font-family: "Adobe Caslon Pro","Baskerville","Goudy Old Style","Palatino",
"Palatino Linotype","Book Antiqua","Georgia","Times New Roman","Times", serif;
font-style: italic;
font-size: 110%;
cursor: auto;
/* Prevents `abbr` affecting `line-height`. */
line-height: 0;
position: relative;
vertical-align: baseline;
}
#credits {
position: absolute;
bottom: 0.3rem;
right: 0.3rem;
font-size: 1.0rem;
line-height: 1.0rem;
text-align: right;
}
/* BOWLING ALLEY */
#alley {
background: #fff;
color: #000;
position: relative;
display: block;
width: 32rem;
height: 48rem;
margin: 0 auto;
background-color: #f0dbc9;
background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
}
/* PINS */
#pins {
position: absolute;
top: 6rem;
left: 0.3rem;
display: block;
width: 17.75rem;
height: 19.5rem;
}
#pins .pin {
position: absolute;
display: block;
width: 4.8rem;
height: 4.8rem;
border: 0.2rem solid #6f0c15;
border-radius: 50%;
font-size: 2.4rem;
text-align: center;
line-height: 4.8rem;
background: #fff;
}
#pin0 {
top: 0;
left: 0;
}
#pin1 {
top: 0;
left: 5.5rem;
}
#pin2 {
top: 0;
left: 11rem;
}
#pin3 {
top: 0;
left: 16.5rem;
}
#pin4 {
top: 4.8rem;
left: 2.75rem;
}
#pin5 {
top: 4.8rem;
left: 8.25rem;
}
#pin6 {
top: 4.8rem;
left: 13.75rem;
}
#pin7 {
top: 9.6rem;
left: 5.5rem;
}
#pin8 {
top: 9.6rem;
left: 11rem;
}
#pin9 {
top: 14.4rem;
left: 8.25rem;
}
/* BALLS */
#balls {
position: absolute;
bottom: 5.5rem;
left: 0;
display: block;
}
#balls > * {
position: absolute;
bottom: 0;
display: block;
width: 4.8rem;
height: 4.8rem;
border: 0.2rem solid #000;
border-radius: 50%;
font-size: 2.4rem;
text-align: center;
line-height: 4.8rem;
background: #111;
color: #fff;
}
#ball0 {
left: 1.0rem;
}
#ball1 {
left: 8.25rem;
}
#ball2 {
left: 15.5rem;
}
/* CHUTES */
#chutes {
position: absolute;
bottom: 3.6rem;
left: 0;
display: block;
}
#chutes li {
position: absolute;
bottom: 0;
display: block;
width: 6.2rem;
height: 1.0rem;
font-size: 1.0rem;
line-height: 1.0rem;
text-align: center;
}
#chute0 {
left: 0.5rem;
}
#chute1 {
left: 7.75rem;
}
#chute2 {
left: 15rem;
}
/* SCORE CARD */
#scores {
position: absolute;
top: 0;
right: 2.4rem;
display: block;
}
#scores li {
position: relative;
display: block;
width: 7.2rem;
height: 4.4rem;
}
#scores .frame {
position: absolute;
top: 0;
left: 0;
display: block;
width: 33%;
height: 50%;
font-size: 1.2rem;
text-align: center;
line-height: 2.4rem;
border-left: 0.1rem solid #000;
border-bottom: 0.1rem solid #000;
}
#scores .frame ~ .frame {
top: 50%;
border-bottom: 0.2rem solid #000;
}
#scores .bonus {
display: none;
}
#scores .score {
position: absolute;
top: 0;
left: 33%;
display: block;
width: 66%;
height: 100%;
font-size: 2.4rem;
text-align: center;
line-height: 4.4rem;
border-left: 0.2rem solid #000;
border-right: 0.1rem solid #000;
border-bottom: 0.2rem solid #000;
}
#marker {
position: absolute;
top: 0.6rem;
right: 0.3rem;
display: block;
width: 0;
height: 0;
border-bottom: 0.74rem solid transparent;
border-top: 0.74rem solid transparent;
border-right: 1.2rem solid #000;
font-size: 0;
line-height: 0;
}
/* TOGGLES */
.hidden {
display: none !important;
}
